cigagamejam2024/.vs/
cigagamejam2024/.idea/
cigagamejam2024/Saved/
cigagamejam2024/Intermediate/
cigagamejam2024/DerivedDataCache/
cigagamejam2024/Build/
cigagamejam2024/Content/Developers/
cigagamejam2024/Plugins/XUserInterface/Intermediat
*.log
*.pdb
*.lib
*.modules
*.target
*.sln
*.user
*.vsconfig
*.obj
*.0
*.exp
~$*